<div id="header">
  <div id="logo">NearBuy</div>
</div>
<div id="left">
  <div id ="items-header">Items For Sale
</div>
</div>
<div class="results">
</div>
<div id="list"><button id="showfavorites" type="submit">Show Favorites!</button></div>
<div id ="right"> 
  

  <div id="map-canvas"></div>
  <div id="alert-window" class="info-window" style="opacity: 0.75;">
            Loading . . .</div>
</div>  
