<div id="header">
  <div id="logo">NearBuy</div>
</div>
<div id="left">
  <div id ="items-header">Items For Sale</div>
</div>
<div class="results">
</div>
<div id="list"></div>
<div id ="right">   
  <div id="map-canvas"></div>
</div>  