/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= 
 */
 body{
 	background-color: #F2F1EF;
 }
 #header{
 	color: white;
 	background-color:#aadd55;
	position: relative;
	border-bottom: 1px solid #FFF;
 }

 #logo {
 	color: white;
 	font-family: 'Pacifico', cursive;
	background: #2ecc71;
	padding: .2em;
	text-align: center;
	font-size: 22px;
	font-weight: bold;

}

#right {
	margin-left: 300px;
}

#items-header{
	color: white;
	background:#0089dd;
	font-family: 'Pacifico', cursive;
	font-weight: bold;
	height:33px;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	margin-bottom:1px;
}

#list{
	color: white;
	font-size:0.85em;
	height:35px;
	border-bottom: 1px solid white;
	border-radius: 2px;
	/*background:;*/
	text-align: center;
	position: relative;
	z-index: 22;
}

.listitem{
	color: #999;
	font-family: 'Open Sans',sans-serif;
	border-bottom: 1px solid white;
	height:40px;
	text-align: center;
	vertical-align: center;
	font-size:0.85em;
	background-color: #333739;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 7px;
}
.results{
	overflow: scroll;
	background: #BDC3C7;
	padding: 0 10px;
	position: absolute;
	width: 280px;
	top: 94px;
	margin-top: 2px;
	bottom: 0;
}

#showresults{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Open Sans',sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  border: none;
  padding: 3px 140px 3px 140px;
  text-decoration: none;
}
#showfavorites{
 -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Open Sans',sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #2ecc71;
  border: none;
  padding: 3px 140px 3px 140px;
  text-decoration: none;
}

#favorite{
 -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Open Sans',sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #2ecc71;
  border: none;
  padding: 3px 80px 3px 80px;
  text-decoration: none;
}

#submit{
 -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Open Sans',sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  border: none;
  padding: 3px 80px 3px 80px;
  text-decoration: none;
}


#map-canvas{
	height: 623px;
	position: relative;
	overflow: hidden;
	-webkit-transform: translateZ(0px);
}
	#showfavorites:hover{
		background-color: #3498db;
	}
	#showresults:hover{
		background-color: #2ecc71;
	}

#left{
	float: left;
	width: 300px;
}

.hover{
	background-color: #0089dd;
	font-weight: bold;
	color: white;
}

#infowindowtitle{
	font-family: 'Pacifico', cursive;
	font-size: 23px;
}

#infowindowbody{
	font-family: 'Open Sans',sans-serif;
	font-size: 17px;
}

#alert-window {
	position: absolute;
	z-index: 999999;
	font-weight: bold;
	font-size: 0.9em;
	padding: 0.75em;
	background-color: #2ecc71;
	color: #FFF;
	bottom: 0;
	width: 100%;
	cursor: pointer;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}
